/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu_tab {
    @apply text-gray-800 cursor-pointer select-none;
  }
  .active_menu_tab {
    @apply rounded-full px-4 py-2 text-white select-none;

  }
} */
.active_menu_tab {
    color: #F59E0B;
    user-select: none;
}
.menu_tab {
    color:darkslategrey;
    cursor: pointer;
    user-select: none;
}

.contact-bg {
  background-image: url("https://i.ibb.co/WkmFyjS/INNER-header-02.jpg");
  background-size: cover;
  background-repeat: none;
  background-blend-mode: darken;
  background-attachment: fixed;
}

.hotFood-bg {
  background-image: url("../../Images/waves_white-15.png");
}